.App {
  text-align: center;
  font-family: apercu;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

h1 {
  font-size: 2em;
}

a {
  text-decoration: none;
  color: #ffdea6;
}

/*Navigation*/

.nav {
/*  width: 100%;*/
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0 1em;
}

.nav-sticky {
  position: sticky;
  top: 0px;
  z-index: 100;
}

.nav-v1 {
  background-color: #fffcf5;
}

.nav-v1 span {
  font-size: 1em;
}

.nav-v2 {
  background-color: #fffcf5;
  box-shadow: 2px 2px 5px 1pc rbga(0, 0, 0, 0.1);
  transition: all 1s ease;
}

.nav-v2 span {
  color: #ffdea6;
  font-size: 1em;
  transition: all 1s ease;
}

.nav-v2 .nav-list {
  margin: 0.9em 0 0 0;
  transition: all 1s ease;
}

.nav-list {
  list-style-type: none;
  text-align: right;
  display: inline-block;
  padding: 0;
  margin: 1em 0;
}

.nav-list > li {
  display: inline-block;
  padding: 0 0.5em;
  color: #5a6175;
}

.nav-list a {
  color: #5a6175;
  position: relative;
  /*padding-bottom: 0.4em;*/
  cursor: pointer;
  cursor: hand;
}

#logo {
  display: inline-block;
  border: 2px solid #5a6175;
  border-radius: 50%;
  padding: 0.3em;
  margin: 0.4em 0 0.4em 0.2em;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  cursor: hand;
  color: #5a6175;
  font-size: 1.2em;
}

.nav-v2 #logo {
  color: #5a6175;
  font-size: 1.3em;
  margin: 0.2em 0;
  transition: all 1s ease;
}

@media (min-width: 550px) {
  .nav-v1 span {
    font-size: 1.3em;
  }
  .nav-v2 span {
    font-size: 1.2em;
  }
}

@media (min-width: 550px) {
  #logo {
    font-size: 1.8em;
  }
  .nav-list li {
    padding: 0 1em;
  }
}

@media (min-width: 650px) {
  .nav {
    padding: 0.5em 3.5em;
  }
  .nav-list li {
    padding: 0 1.5em;
  }
}

@media (min-width: 950px) {
  .nav {
    padding: 0.5em 6em;
  }
}
/*Header*/

.header {
  /*background-color: #fffcf5;*/
/*  background-image: url('./ecuador.jpg');
  background-size: cover;*/
  background: linear-gradient(to bottom, rgba(255,252,245,1) 0%,rgba(255,222,166,1) 100%);;
  height: 80vh;
  color: #5a6175;
  display: flex;
  flex-direction: column;
  padding: 3% 10% 10% 10%;
}

.header-text {
  margin: 1em 0 .2em 0;
}

.header-title {
  font-size: 3.2em;
 /* font-family: 'Helvetiva';*/
}

.header-subtitle {
  font-size: 1.9em;
  line-height: 1.5em;
  margin: 5% 15%;
}

.header-learnmore {
 /* font-family: Helvetica;*/
}

@media (min-width: 375px) {
  .header-title {
    font-size: 2.5em;
  }
  .header-subtitle {
    font-size: 1.5em;
  }
}

@media (min-width: 650px) {
  .header-title {
    font-size: 3.2em;
  }
  .header-subtitle {
    font-size: 1.9em;
  }
  .header-learnmore {
    font-size: 1.2em;
  }
}

@media (min-width: 950px) {
  .header-title {
    font-size: 3.2em;
  }
  .header-subtitle {
    font-size: 1.9em;
    margin: 2% 0 6% 0;
  }
  .header-learnmore {
    font-size: 1.2em;
  }
}

/*Social*/

.social-links {
  display: flex;
  justify-content: center;
}

.social-link {
  margin: 0 5px;
}

.icon-white {
  color: #5a6175;
}

.icon-white:hover {
  color: black;
}

/*Skills*/

.skill-section {
  width: 100%;
  padding-top: 4vh;
  padding-bottom: 7vh;
  background-color: #5a6175;
}

.skill-header {
/*  font-family: 'Lato';*/
  font-size: 3em;
  display: inline-block;
/*  border-bottom: 3px solid blue;
*/  color: #ffdea6;
}

.skills {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0 5%;
  margin: 0 auto;
  max-width: 650px;
}

.skills > li {
  border: 3px solid #e3dcdc;
  background-color: #fbeacf;
  color: black;
  width: 7.8em;
  padding: .3em;
  margin: .3em;
  font-weight: bold;
  opacity: 0;
}

/*Projects*/

.project-section {
  background-color: #69c8be;
  padding-top: 5vh;
  padding-bottom: 3vh;
  color: black;
}

.projects-header {
 /* font-family: 'Lato';*/
  font-size: 3em;
  display: inline-block;
/*  border-bottom: 3px solid black;*/
  color: #5a6175;
}

.projects-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
}

.project-card {
  background-color: #5a6175;
  max-width: 85%;
  margin: 2.5%;
  padding-bottom: 1em;
  border: 1px solid black;
  box-shadow: 3px 3px 5px 2px rgba(0,0,0,.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
/*  opacity: 0;
*/  line-height: 1.4em;
  color: #fffcf5;
}

.project-card p {
  padding: 0 8%;
}

.project-img-container {
  width: 100%;
  height: 60vw;
  overflow: hidden;
  border-bottom: 1px solid black;
}

.project-img-container > .landscape {
  height: auto;
  width: 100%;
}

.project-img-container > .portrait {
  width: 100%;
  height: 100%;
}

.link-container {
  display: flex;
  justify-content: space-around;
}

.link-container a {
  position: relative;
  padding-bottom: 0.6em
}

.link-container a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffdea6;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.link-container a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

@media (min-width: 650px) {
  .project-card {
    width: 40%;
  }
  .project-img-container {
    height: 25vw;
  }
}

@media (min-width: 1200px) {
  .project-card {
    width: 40%;
  }
  .project-img-container {
    height: 20vw;
  }
}

/*About */

.about-section {
  background: #5f9dda;
  padding: 5vh;
  color: black;
}

.about-header {
 /* font-family: 'Lato';*/
  font-size: 3em;
  display: inline-block;
/*  border-bottom: 3px solid grey;*/
  color: #ffdea6;
}

.round-border {
  border-radius: 5%;
}

.profile-pic {
  display: block;
  margin: 0 auto;
  width: 10vw;
  height: 20vh;
}

.about-pic {
  display: block;
  margin: 0 auto;
  width: 10vw;
  height: 20vh;
}

.about-summary {
  text-align: left;
  line-height: 1.5em;
  max-width: 750px;
  margin: 0 auto;
  color: #ffdea6;
}

.about-summary a {
  color: blue;
  font-weight: bold;
  text-decoration: underline;
}

@media (min-width: 650px) {
  .project-card {
    width: 40%;
  }
}

/*Footer*/

footer {
/*  background-color: #fffcf5; */
  background-color: rgba(255,222,166,1);
  padding-top: 1em;
  padding-bottom: 0.5em;
  color: #5a6175;
} 

/*Animations*/

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
