.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

h1 {
  font-size: 2em;
}

a {
  text-decoration: none;
  color: #55caf9;
}
/*Header*/

.header {
  background-color: grey;
  height: 50vh;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10%;
}

.header-text {
  margin: 1em 0 .2em 0;
}

.header-title {
  font-size: 3.2em;
  font-family: 'Helvetiva';
}

.header-subtitle {
  font-size: 1.9em;
  line-height: 1.5em;
  margin: 5% 15%;
}

.header-learnmore {
  font-family: Helvetica;
}

/*@media (min-width: 650px) {
  .header-title {
    font-size: 3.2em;
  }
  .header-subtitle {
    font-size: 1.9em;
  }
  .header-learnmore {
    font-size: 1.2em;
  }
}

@media (min-width: 950px) {
  .header-title {
    font-size: 3.2em;
  }
  .header-subtitle {
    font-size: 1.9em;
    margin: 2% 0 6% 0;
  }
  .header-learnmore {
    font-size: 1.2em;
  }
}*/

/*Social*/

.social-links {
  display: flex;
  justify-content: center;
}

.social-link {
  margin: 0 5px;
}

.icon-white {
  color: white;
}

.icon-white:hover {
  color: black;
}

/*Skills*/

.skill-section {
  width: 100%;
  padding-top: 4vh;
  padding-bottom: 7vh;
  background-color: #567098;
}

.skill-header {
  font-family: 'Lato';
  font-size: 2em;
  display: inline-block;
  border-bottom: 3px solid blue;
  color: white;
}

.skills {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0 5%;
  margin: 0 auto;
  max-width: 650px;
}

.skills > li {
  border: 3px solid #e3dcdc;
  background-color: #b3afaf;
  color: black;
  width: 7.8em;
  padding: .3em;
  margin: .3em;
  font-weight: bold;
}

/*Projects*/

.project-section {
  background-color: white;
  padding-top: 5vh;
  padding-bottom: 3vh;
  color: #404040;
}

.projects-header {
  font-family: 'Lato';
  font-size: 3em;
  display: inline-block;
  border-bottom: 3px solid pink;
  color: #404040;
}

.projects-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
}

.project-card {
  background-color: white;
  max-width: 85%;
  margin: 2.5%;
  padding-bottom: 1em;
  border: 1px solid black;
  box-shadow: 3px 3px 5px 2px rgba(0,0,0,.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
/*  opacity: 0;
*/  line-height: 1.4em;
}

.project-card p {
  padding: 0 8%;
}

.project-img-container {
  width: 100%;
  height: 60vw;
  overflow: hidden;
}

.project-img-container > .landscape {
  height: auto;
  width: 100%;
}

.project-img-container > .portrait {
  width: 100%;
  height: 100%;
}

.link-container {
  display: flex;
  justify-content: space-around;
}

.link-container a {
  position: relative;
  padding-bottom: 0.6em
}

.link-container a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2FC6EE;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.link-container a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

@media (min-width: 650px) {
  .project-card {
    width: 40%;
  }
  .project-img-container {
    height: 25vw;
  }
}

@media (min-width: 1200px) {
  .project-card {
    width: 40%;
  }
  .project-img-container {
    height: 20vw;
  }
}

/*Animations*/

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
